<h1>Pagina inicial admin</h1>
<a href="/admin/livro/">Livros</a><br>
<a href="/admin/livro/genero/">Busca por genero</a><br>
<a href="/admin/funcionarios/">Funcionarios</a><br>
<a href="/admin/livro/retirado/">Livros retirados</a><br>
<a href="/admin/usuarios/">Usuarios</a><br>